$White: hsl(0, 0%, 100%);
$LightGrey: hsl(217, 12%, 63%);
$MediumGrey: hsl(216, 12%, 54%);
$DarkBlue: hsl(213, 19%, 18%);
$VeryDarkBlue: hsl(216, 12%, 8%);
$OrangeDark: hsl(25, 97%, 50%);
$OrangeLight: hsl(25, 97%, 60%);

:root body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: $VeryDarkBlue;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
